[submodule "database"]
	path = database
	url = https://github.com/ign-gpao/database.git
[submodule "api"]
	path = api
	url = https://github.com/ign-gpao/api.git
[submodule "monitor"]
	path = monitor
	url = https://github.com/ign-gpao/monitor.git
[submodule "client"]
	path = client
	url = https://github.com/ign-gpao/client.git
